h1 {
  @apply text-4xl font-bold tracking-tight;
}

.twitter:hover {
  background-color: #1da1f2
}

.instagram:hover {
  background-color: #c32aa3
}

.facebook:hover {
  background-color: #1877f2;
}

.linkedin:hover {
  background-color: #007bb5;
}

.default-transition {
  @apply transition duration-200 ease-in-out;
}

.card {
  @apply px-5 py-4 rounded-lg shadow-md;
}

.card-transition {
  @apply duration-200 ease-in-out transform;
}

.card-transition:hover {
  @apply scale-105 shadow-lg;
}

.underline-green-400 {
  text-decoration: underline;
  text-decoration-color: #31c48d;
}

.underline-green-400:hover {
  @apply text-green-400;
}