h1 {
  @apply text-4xl font-bold tracking-tight;
}

.twitter:hover {
  color: #1da1f2
}

.instagram:hover {
  color: #c32aa3
}

.facebook:hover {
  color: #1877f2;
}

.linkedin:hover {
  color: #007bb5;
}

.underline-green-400 {
  text-decoration: underline;
  text-decoration-color: #31c48d;
}

.underline-green-400:hover {
  @apply text-green-400;
}

.contact-social-icon {
  @apply inline w-8 h-8 mr-3 duration-300 ease-in-out transform;
}

.tech-link {
  @apply px-5 py-4 duration-200 ease-in-out transform rounded-lg shadow-md;
}

.tech-link:hover {
  @apply scale-105 shadow-lg;
}