.twitter:hover {
  background-color: #1da1f2 !important;
}

.instagram:hover {
  background-color: #c32aa3 !important;
}

.facebook:hover {
  background-color: #1877f2 !important;
}

.linkedin:hover {
  background-color: #007bb5 !important;
}

.default-transition {
  @apply transition duration-200 ease-in-out;
}

.card {
  @apply px-5 py-4 rounded-lg shadow-md bg-gray-50;
}

.card-transition {
  @apply duration-200 ease-in-out transform;
}

.card-transition:hover {
  @apply scale-105 shadow-lg;
}